body {
    font-family: "exo 2", sans-serif;
}

.navbar {
    background-color:#b6daac;
    border-bottom: px solid #70aa6260;
}

#cabecalho .nav .nav-link.active {
    background-color: rgba(104, 165, 89, 0.767);
    color: black
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: black;
}

#sobre-o-reiki,
#agendamento {  
    background-color: #70aa6260;
}

.linha {
    border-bottom: 2px solid #303030b9;
}

.social-links a {
    text-decoration: none;
}

.social-links li {
    list-style: none;
    display: inline;
}

.text-colored {
    color: black;
}

.btn-custom {
    background-color:rgb(104, 165, 89);
    border: none;
}

.btn-custom:hover {
    background-color: rgb(53, 95, 43);
}

.reikiana-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.375rem; /* igual ao rounded do Bootstrap */
    margin-bottom: 0.5rem;
}

.since ul {
    list-style: none;
    margin-top: 30px;
}

.parceria {
    margin-top: 35px;
    font-weight: 100px;
    font-size: large;
    text-align: left;
}

.parceria a {
    background-color:rgb(104, 165, 89);
    border: none;

    &:hover {
        background-color: rgb(53, 95, 43);
    }
}

.parceria img {
    width: 300px
}

@media (max-width: 767px) {
    
    .regra-img {
        margin-left:30px;
    }

    .regra-video {
        margin-left: 20px;
    }

    #regras .btn {
        margin-left: 8px;
    }
    
    .carousel-item img,
    .carousel-item video {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;  /* Se necessário para ajustar o tamanho */
        height: auto;  /* Para manter a proporção */
    }
    
    #regras .btn {
        margin-left: 8px;
    }
}